@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.great-vibes-title {
  font-family: "Great Vibes", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: red;
  text-align: center;
  margin-top: 12px;
}

.divider {
  margin-top: 1px;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
  color: #999;
}

.divider::before {
  content: "······················";
  letter-spacing: 6px;
  font-weight: 300;
  color: black;
  font-family: "Playfair Display", serif;
}

.font-merriweather {
  font-family: "Merriweather", serif;
}

.font-allura {
  font-family: "Allura", cursive;
}

.font-marmelad {
  font-family: "Marmelad", sans-serif;
}

.save-the-date {
  position: relative;
}

.save-the-date::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* mờ 50% */
  z-index: 0;
}

.save-the-date > * {
  position: relative;
  z-index: 1;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: bold;
  /* font-style:; */
}
